.bar {
  background-color: #171717;
  border-radius: 16px;
}

.cal {
  color: #ffffff;
  border-color: #000000;
  background-color: #171717;
}

.left-box {
  margin-left: 100px;
}

.right-box {
  margin-right: 100px;
}

.battery-percentage {
  color: #ffffff;
}

.clock {
  color: #ffffff;
}